body {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: black;
}
/* Carousel */
.carousel-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 10px;
}

.carousel-box {
  will-change: transform;
  position: relative;
  display: flex;
  margin: 20px;
  align-items: center;
  width: 98%;
  height: 250px;
  overflow: hidden;
  scroll-behavior: smooth; /* Add this line for smooth scrolling */
}

.carousel {
  margin-right: 15px;
}

.carousel-images {
  border-radius: 20px;
  height: 140px;
}

.carousel-images:hover {
  transform: scale(1.05);
}

.scroll-button {
  background-color: rgb(56, 4, 56);
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
}

.scroll-button:hover {
  background-color: rgb(56, 4, 56);
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}

/* Filtering and Search */
.filter-container {
  margin-bottom: 4rem;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.sort-container,
.search-container {
  display: flex;
  align-items: center;
  background-color: rgb(56, 4, 56);
  padding: 19px;
  border-radius: 6px;
  margin-right: 10px;
}

.search-container {
  padding: 12px;
}

.search-button {
  margin-left: 10px;
  background-color: #af4cac;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
}

.search-button:hover {
  background-color: black;
}

/* Navigation Bar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(56, 4, 56);
  color: #fff;
}

.podcast-logo {
  margin-right: 8px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid #000;
}

.podcast-nav {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.podcast-title {
  font-size: 30px;
  margin-left: 5px;
}

.nav-items {
  display: flex;
}

.nav-items > ul > li {
  margin-right: 15px;
  list-style: none;
  display: inline-block;
}

/* Displaying Podcast */
.podcast-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  grid-gap: 30px;
  margin: 90px;
}

.podcast-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.podcast-item--img {
  border-radius: 15px;
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}

.podcast-item--img:hover {
  transform: scale(1.05); 
}


.podcast-item--title {
  font-size: 15px;
  margin-right: 10px;
}

/* Preview */
.preview-podcast {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 50%;
  z-index: 1;
  background-color: #4245499f;
  opacity: 1;
  color: #fff;
  font-size: 18px;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.preview-img {
  width: 20%;
  margin-top: 70px;
  border-radius: 20px;
}

.preview-content {
  text-align: center;
  background-color: rgb(42, 37, 42);
  height: 100%;
  max-width: 80%;
}
.preview-read--more,
.preview-close--button,
.preview-seasons {
  padding: 9px 16px;
  font-size: 13px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #4b0082;
  color: #ffffff;
 
}

.preview-read--more:hover,
.preview-close--button:hover,
.preview-seasons:hover {
  background-color: #663399;
}

.preview-read--more:hover,
.preview-close--button:hover,
.preview-seasons:hover {
  background-color: purple;
}

.preview-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.preview-buttons button {
  margin-bottom: 10px; /* Add margin between buttons for spacing */
}



/* Seasons */
.season-details {
  background-color: #000000;
  z-index: 999;
  height: 80%;
  width: 80%;
  position: fixed;
  top: 10%;
  left: 10%;
  overflow-y: auto;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.season-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-shadow: 3px 3px 8px rgba(128, 0, 128, 0.8);
  color: #ffffff;
  border-radius: 8px;
  display: inline-block;
}

.season-img {
  width: 200px;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

.season-select-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.season-select {
  width: 20%; 
  padding: 12px; 
  margin-bottom: 15px; 
  margin-left: 20px; 
  border: 2px solid #000; 
  border-radius: 6px; 
  color: #fff;
  background-color: #800080; 
  cursor: pointer;
  font-size: 16px; 
}


.season-select:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(128, 0, 128, 0.8); /* Enhanced box shadow for focus state */
}

.season-select option {
  font-size: 14px; 
  background-color: #000; 
  color: #fff; 
  padding: 8px; 
}


.season-close {
  position: fixed;
  top: 0;
  right: 0;
  background-color: purple;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
  z-index: 10000;
}

.season-close:hover {
  background-color: purple;
}

.season-close:focus {
  outline: none;
  box-shadow: 0 0 5px purple;
}

.season-close:active {
  background-color: purple;
}

.season-date {
  padding-left: 20px; 
  font-size: 16px; 
  color: #555; 
  margin-bottom: 12px; 
}

.season-genre {
  margin: 8px; 
  font-size: 16px; 
  color: #555; 
  margin-bottom: 18px; 
  padding-left: 10px; 
}


/* Episode */
.episode-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.fixed-audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333; 
  padding: 15px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  z-index: 1000; 
}


.episodes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  padding: 15px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: black;
  box-shadow: 2px 2px 4px purple;
}

.episode-img {
  width: 80%;
  height: auto;
  max-width: 100%;
  border-radius: 20px; /* Increased border-radius for a more pronounced rounded look */
  margin-bottom: 20px; /* Increased margin for more spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Added a shadow for a lifted appearance */
  transition: transform 0.3s ease-in-out; /* Added a smooth transition for a hover effect */

}

.episode-title {
  font-size: 24px;
}

.episodes h4 {
  margin-bottom: 10px; 
  font-size: 20px; 
  font-weight: 700; 
}


.episodes p {
  color: #666;
  font-size: 14px;
}

.episodes audio {
  width: 100%;
  max-width: 100%;
  outline: none;
  border-radius: 8px; 
  padding: 10px; 
  margin-top: 15px; 
}


.episodes audio::-webkit-media-controls-panel {
  background-color: #f1f1f1; 
  border-radius: 8px; 
}

.episodes audio::-webkit-media-controls-current-time-display {
  margin-right: 10px; 
}

.episodes audio::-webkit-media-controls-time-remaining-display {
  margin-left: 10px; 
}


/* Media Queries for iPhone SE */
@media only screen and (max-width: 320px) {
  .filter-container {
    flex-direction: column;
    align-items: stretch;
  }

  .sort-container,
  .search-container {
    width: 100%;
    margin: 0;
  }

  .search-button {
    margin-top: 10px;
    margin-left: 0;
  }

  .nav-bar {
    flex-direction: column;
    align-items: stretch;
    padding: 0.6rem;
  }

  .podcast-logo {
    margin-right: 0;
  }

  .podcast-nav {
    margin-left: 0;
  }

  .nav-items {
    flex-direction: column;
    align-items: stretch;
  }

  .podcast-list {
    grid-template-columns: repeat(1, 1fr);
    margin: 10px;
    margin-left: 0;
  }

  .preview-content {
    max-width: 100%;
  }

  .carousel-box {
    height: 150px;
    margin: 10px;
  }

  .carousel-images {
    height: 100px;
  }

  .scroll-button {
    top: 40%;
  }

  .season-title {
    padding-left: 10px;
  }

  .season-img {
    padding-left: 10px;
  }

  .season-select {
    width: 100%;
    margin: 10px 0;
  }

  .episode-container {
    max-width: 80%;
    margin: 0;
  }

  .fixed-audio-player {
    padding: 5px;
  }

  .episodes {
    grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
  }

  .episode-img {
    max-width: 50%;
  }

  .episode-title {
    font-size: 20px;
  }

  .episodes h4 {
    font-size: 16px;
  }

  .episodes p {
    font-size: 14px;
  }

  .episodes audio {
    margin-top: 5px;
  }
}
