# Dependency directories
/node_modules

# Build artifacts
/build
/dist

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.local

# IDE files
.vscode
.idea

# Logs
/log
npm-debug.log*

# Temporary files
/tmp
.DS_Store

# User-specific files
.npm
.yarn
